.primary-button{ 
    color: #fff;
    background-color: #28a845;
    padding: 6px 16px;
    font-size: 0.875rem;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 12px;
    font-weight: 500;
    line-height: 1.75;
    border: transparent;
}

.secondary-button {
    color: #333;
    background-color: #e0e0e0;
    padding: 6px 16px;
    font-size: 0.875rem;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.75;
    border: transparent;
}

.centered {
    margin-top:300px;
    text-align: center;
}

.cancel-button {
    color: #fff;
    background-color: red;
    padding: 6px 16px;
    font-size: 0.875rem;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 12px;
    font-weight: 500;
    line-height: 0.75;
    border: transparent;
}

.inactive-button {
    color: #333;
    background-color: #e0e0e0;
    padding: 6px 16px;
    font-size: 0.875rem;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.75;
}

.kjga-display-block {
    display: block;
    top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 30px;
    border-radius: 10px;
    max-width: 95%;
    position:relative;
    opacity: 0.8,
}
.login-display-block {
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.kjga-input-box {
    border: 1px solid black;
    height: 39px;
}

.name-box {
    width: 220px;
    height: 38px;
    border: 1px black solid;
    padding-left: 10px;
    font-size: 25px;
}

.dropdown-container {
    display: grid;
    grid-template-columns: 220px 50px 50px 50px;
    grid-template-rows: auto;
}

.red {
    background-color: red;
}
.thead-stick {
    position: sticky;
}
th.paymentTable {
    width: 150px;
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
table {
    position: relative;
}

.table-wrapper {
    max-height: 600px;
    overflow-x: scroll;
    padding: 0px 20px;
    margin-top: 10px;
}

.login-container {
    
    margin-left: auto;
    margin-right: auto;
    background-color:  #e9ecef;
    padding: 30px;
    border-radius: 15px;
}

.errorMessage{
    color: red;

}

.header-grid{
    display: grid;
    grid-template-columns: 65% 5% 30%;
    grid-template-rows: auto;
    padding: 0 5px;
}
.body-grid{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    text-align: center;
    padding:20px 0 0 0;
}
.navBar-color {
    background-color: #e3f2fd;
    opacity: 0.8
}
.back-img{
    height: 93.9vh;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-table{
    width: 100%;
}
.main-table th{
    border:#333 solid 1px;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
}