.primary-button{ 
    color: #fff;
    background-color: #28a845;
    padding: 6px 16px;
    font-size: 0.875rem;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 12px;
    font-weight: 500;
    line-height: 1.75;
    border: transparent;
}

.secondary-button {
    color: #333;
    background-color: #e0e0e0;
    padding: 6px 16px;
    font-size: 0.875rem;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.75;
    border: transparent;
}

.centered {
    margin-top:300px;
    text-align: center;
}

.cancel-button {
    color: #fff;
    background-color: red;
    padding: 6px 16px;
    font-size: 0.875rem;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 12px;
    font-weight: 500;
    line-height: 0.75;
    border: transparent;
}

.inactive-button {
    color: #333;
    background-color: #e0e0e0;
    padding: 6px 16px;
    font-size: 0.875rem;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.75;
}

.kjga-display-block {
    display: block;
    top: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 30px;
}


.kjga-input-box {
    border: 1px solid black;
    height: 39px;
}

.name-box {
    width: 220px;
    height: 38px;
    border: 1px black solid;
    padding-left: 10px;
    font-size: 25px;
}

.dropdown-container {
    display: grid;
    grid-template-columns: 220px 50px 50px 50px;
    grid-template-rows: auto;
}

.red {
    background-color: red;
}
.thead-stick {
    position: sticky;
}
th.paymentTable {
    width: 150px;
}

.table-wrapper {
    max-height: 600px;
    overflow-x: scroll;
    padding: 20px 0;
}

.login-container {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(177, 174, 174);
    padding: 30px;
    border-radius: 15px;
}
.errorMessage{
    color: red;

}

.header-grid{
    display: grid;
    grid-template-columns: 65% 5% 30%;
    grid-template-rows: auto;
}
.body-grid{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    text-align: center;
    padding:20px 0 0 0;
}
.navBar-color {
    background-color: #e3f2fd;
    opacity: 0.8
}
.back-img{
    background-image: url("../images/6.jpg");

    /* Full height */
    height: 93.9vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}